<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box-signup">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form id="signupform" class="example-form" #signupForm="ngForm">
      <mat-card-content>
        <mat-form-field class="col-6">
          <input
            matInput
            placeholder="FirstName"
            minlength="3"
            #fstName="ngModel"
            [(ngModel)]="firstName"
            name="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field class="col-6">
          <input
            matInput
            placeholder="LastName"
            minlength="3"
            #lstName="ngModel"
            [(ngModel)]="lastName"
            name="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field class="col-6">
          <input matInput placeholder="Email" [formControl]="email" required />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <input
            matInput
            placeholder="Password"
            type="password"
            minlength="8"
            #pwd="ngModel"
            [(ngModel)]="password"
            name="password"
            required
          />

          <mat-error *ngIf="pwd.errors?.required"
            >You must enter a value</mat-error
          >
          <mat-error *ngIf="pwd.errors?.minlength"
            >You must enter atleast 8 Chars</mat-error
          >
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-select
            placeholder="Select Country Name"
            [(value)]="country"
            (selectionChange)="onCountryChange()"
          >
            <mat-option
              *ngFor="let country of countries"
              [value]="country.code"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6">
          <input
            matInput
            placeholder="Mobile Number"
            type="number"
            [(ngModel)]="mobileNumber"
            name="mobileNumber"
            pattern="^\d{10}$"
            maxlength="10"
            #mobNumber="ngModel"
            required
          />

          <span matPrefix>+{{ countryCode }} &nbsp;</span>

          <mat-hint>* Max 10 Digits</mat-hint>
          <mat-error *ngIf="mobNumber.errors?.required"
            >You must enter a value</mat-error
          >
          <mat-error *ngIf="mobNumber.errors?.pattern"
            >Only 10 Digits</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        (click)="signupFunction()"
        [disabled]="!signupForm.valid"
        color="accent"
        class="btn-block"
      >
        Register
      </button>
      <button mat-stroked-button color="accent" class="btn-block">
        Sign In
      </button>
      <a
      class="text-center mt-2"
      mat-raised-link
      [routerLink]="['/user/login']"
      style="text-decoration: none;display: block;"
      >Log In</a>
    </form>
  </mat-card>
</div>
